---
# Front matter comment to ensure Jekyll properly reads file.
---

// Add your styles here

$blue: #4343ff;
$red: #ff4343;

body {
	font-family: Arial;
	padding: 0px;
	margin: 0px;

	display: grid;
	grid-template-rows: 50px 100%;
}

header {
	display: grid;
	align-items: center;
	padding-left: 20px;
	color: white;
}

/* Team specific styling */
body[user-team="blue"] {
	header { background-color: $blue; }
	
	/* Team specific voting styling */
	.card.selected .overlay {
		background-color: rgba($blue, 0.25);

		.team-select { background-image: url(../imgs/checkbox-checked-blue.svg); }
		.self-select { background-image: url(../imgs/stars-blue.svg); }
	}
}
body[user-team="red"] {
	header {background-color: $red; }

	/* Team specific voting styling */
	.card.selected .overlay {
		background-color: rgba($red, 0.25);

		.team-select { background-image: url(../imgs/checkbox-checked-red.svg); }
		.self-select { background-image: url(../imgs/stars-red.svg); }
	}
}

/* Grid locations for the game interface */
.game-interface {
	display: grid;
	grid-template-columns: 1fr 62vw 1fr;
	grid-template-rows: 55px 1fr;

	.score-board { grid-column-start: 1; }
	.hint { grid-column-start: 2; }
	.board { grid-column-start: 2; }
	.chat {
		grid-column-start: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
}


.hint {
	background: lightgrey;
	margin: 1vh 1vh 0vh 1vh;
	padding: 10px;

	.team, .guesses, .clue { font-weight: bold; font-size: 1.2em; }

	&[data-team="blue"] {
		border-bottom: solid 5px $blue;

		.team { color: $blue; }
	}
	&[data-team="red"] {
		border-bottom: solid 5px $red;

		.team { color: $red; }
	}
}

.board {
	padding: 1vh;
	display: grid;
	max-height: 40vw; /* 60vw/1.5 to get 3 by 2 cards */
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;

	.card {
		position: relative;
		display: grid;
		background: #FFE79C;
		align-items: center;
		border-radius: 4px;

		span { text-align: center; }
		.overlay {
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;

			.icon-cont {
				text-align: right;
				padding: 4px 4px 0px 0px;
			}
			.self-select, .team-select {
				width: 20px;
				height: 20px;
				display: inline-block;
				background-size: 100%;
				margin: 0px 2px 2px 0px;
			}
		}
		&.selectable { 
			cursor: pointer;

			&:hover {
				box-shadow: 0px 0px 0px 1px grey;
			}
		}
		&.selected {
			.overlay { display: block; }
		}

		/* Admin styling to show the true card color */
		&[data-agent] {
			border: solid 4px;
		}
		&[data-agent="blue"] { border-color: blue; }
		&[data-agent="red"] { border-color: red; }
		&[data-agent="black"] { border-color: black; }
	}
}

.score-board {
	margin-top: 50%;

	.title { text-align: center; }
	.score-cont {
		display: grid;
		grid-template-columns: 45% 2px 45%;
		height: 10%;
		align-items: center;

		.divider {
			height: 100%;
			background-color: black;
		}
		:first-child { text-align: right; margin-right: 10px; }
		:last-child { text-align: left; margin-left: 10px; }
		.blue { color: $blue; }
		.red { color: $red; }
		.score { font-size: 48px; }
	}
}

.chat {
	display: grid;
	grid-template-rows: 80px 1fr 120px;
	height: calc(100vh - 50px);
	background-color: grey;

	h1 { margin: 40px 40px 10px 40px; }
	.msg {
		background-color: white;
		border-radius: 10px;
		margin-bottom: 10px;

		.body { padding: 10px; }
		.author {
			width: 100%;
			color: white;
			text-align: right;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			padding: 5px 10px;
			box-sizing: border-box;
			font-size: 14px;
		}
		&[data-team="blue"] .author { background-color: $blue; }
		&[data-team="red"] .author { background-color: $red; }
		
		/* if the current user sent the message, hide author and 
		make the whole thing the color of their team */
		&[data-self="true"] {
			color: white;

			.author { display: none; }
			&[data-team="blue"] { background-color: $blue; }
			&[data-team="red"] { background-color: $red; }
		}
	}
	.msg-cont { 
		background-color: lightgrey;
		padding: 10px 40px;
		overflow-y: scroll;
	}
	.send-msg {
		padding: 20px 40px;

		input[type="text"] {
			width: 100%;
			height: 35px;
			border-radius: 5px;
			border: 0px;
			padding: 10px;
		}
		input[type="submit"] {
			width: 100%;
			background-color: green;
			color: white;
			box-shadow: none;
			border: none;
			border-radius: 10px;
			margin-top: 10px;
			padding: 10px;
			font-size: 15px;
			text-align: left;
		}
	}
}

.window-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.25);

	.overlay-msg {
		display: none;
		background: white;
		padding: 5px;
		margin: 200px auto 0px auto;
		width: 50%;
		padding: 20px 40px;

		&#verify-clue {
			.btn {
				margin-top: 10px;
				margin-right: 5px;
			}
		}
	}
}

.btn {
	background-color: lightgrey;
	display: inline-block;
	min-width: 100px;
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;

	&.green { background-color: green; }
	&.red { background-color: red; }
}

/* Registration specific styling */
.registration-cont {
	margin: 25% auto;
	width: 50%;
	max-width: 500px;
	text-align: center;

	.text {
		font-size: 22px;
		margin-bottom: 5px;
		text-align: left;
	}
	input {
		width: 100%;
		height: 50px;
		font-size: 24px;
		padding: 10px;
	}
	.btn {
		margin-top: 10px;
		font-size: 24px;
		width: 40%;
	}
}

.roster-page { display: none; }
.roster-cont {
	display: grid;
	grid-template-rows: 1fr 100px 100px;
	grid-template-columns: 1fr 20% 10% 20% 1fr;

	.roster {
		padding: 20px 0px;
		margin: 40px 0px;
		color: white;
		min-height: 250px;

		&.blue {
			background-color: $blue;

			.player.self { color: $blue; }
		}
		&.red {
			background-color: $red;
			
			.player.self { color: $red; }
		}
		.title {
			padding: 0px 30px;
			font-size: 20px;
			margin-bottom: 10px;
			text-align: center;
		}
		.player {
			padding: 4px 30px;

			&.self { background-color: white; }
		}
	}
	.roster.blue {
		grid-column-start: 2;
		grid-row-start: 1;
	}
	.roster.red {
		grid-column-start: 4;
		grid-row-start: 1;
	}
	.btn {
		grid-column-start: 2;
		grid-column-end: 5;
		height: 25px;
		align-self: center;
		font-size: 20px;
		width: 60%;
		margin: auto;

		&:first-child { grid-row-start: 2; }
		&:last-child { grid-row-start: 3; }
	}
}