---
# Front matter comment to ensure Jekyll properly reads file.
---

// Add your styles here

$blue: #4343ff;
$red: #f44336;

body {
	font-family: Arial;
	padding: 0px;
	margin: 0px;

	display: grid;
	grid-template-rows: 50px 100%;
}

header {
	display: grid;
	align-items: center;
	padding-left: 20px;
	color: white;

	&[data-team="blue"] { background-color: $blue; }
	&[data-team="red"] { background-color: $red; }
}

.game-interface {
	display: grid;
	grid-template-columns: 1fr 62vw 1fr;
}

.board {
	padding: 1vh;
	display: grid;
	max-height: 40vw; /* 60vw/1.5 to get 3 by 2 cards */
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;

	.card {
		display: grid;
		background: yellow;
		align-items: center;
		border-radius: 4px;

		&[data-agent] {
			border: solid 4px;
		}
		&[data-agent="blue"] { border-color: blue; }
		&[data-agent="red"] { border-color: red; }
		&[data-agent="black"] { border-color: black; }

		span { text-align: center; }
	}
}

.score-board {
	margin-top: 50%;

	.title { text-align: center; }
	.score-cont {
		display: grid;
		grid-template-columns: 45% 2px 45%;
		height: 10%;
		align-items: center;

		.divider {
			height: 100%;
			background-color: black;
		}
		:first-child { text-align: right; margin-right: 10px; }
		:last-child { text-align: left; margin-left: 10px; }
		.blue { color: $blue; }
		.red { color: $red; }
		.score { font-size: 48px; }
	}
}

.chat {
	display: grid;
	grid-template-rows: 80px 1fr 120px;
	height: calc(100vh - 50px);
	background-color: grey;

	h1 { margin: 40px 40px 10px 40px; }
	.msg {
		background-color: white;
		border-radius: 10px;
		margin-bottom: 10px;

		.body { padding: 10px; }
		.author {
			width: 100%;
			color: white;
			text-align: right;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			padding: 5px 10px;
			box-sizing: border-box;
			font-size: 14px;
		}
		&[data-team="blue"] .author { background-color: $blue; }
		&[data-team="red"] .author { background-color: $red; }
		
		/* if the current user sent the message, hide author and 
		make the whole thing the color of their team */
		&[data-self="true"] {
			color: white;

			.author { display: none; }
			&[data-team="blue"] { background-color: $blue; }
			&[data-team="red"] { background-color: $red; }
		}
	}
	.msg-cont { 
		background-color: lightgrey;
		padding: 10px 40px;
		overflow-y: scroll;
	}
	.send-msg {
		padding: 20px 40px;

		input[type="text"] {
			width: 100%;
			height: 35px;
			border-radius: 5px;
			border: 0px;
			padding: 10px;
		}
		input[type="submit"] {
			width: 100%;
			background-color: green;
			color: white;
			box-shadow: none;
			border: none;
			border-radius: 10px;
			margin-top: 10px;
			padding: 10px;
			font-size: 15px;
			text-align: left;
		}
	}
}